<div id="form-content">
  <div class="long-title">
    <h3>{{ title }}</h3>
  </div>
  <form>
    <dx-form id="form" [colCount]="1" [formData]="ticket" *ngIf="ticket">
      <dxi-item dataField="name" class="txt-input">
        <dxi-validation-rule
          type="required"
          message="Name is required"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="priority">
        <dx-select-box
          [items]="ticketDatasources.priorities"
          displayExpr="name"
          valueExpr="id"
          [(value)]="ticket.priorityId"
        ></dx-select-box>
      </dxi-item>

      <dxi-item dataField="serviceType">
        <dx-select-box
          [items]="ticketDatasources.serviceTypes"
          displayExpr="name"
          valueExpr="id"
          [(value)]="ticket.serviceTypeId"
        ></dx-select-box>
      </dxi-item>

      <dxi-item dataField="status">
        <dx-select-box
          [items]="ticketDatasources.ticketStatuses"
          displayExpr="name"
          valueExpr="id"
          [(value)]="ticket.statusId"
        ></dx-select-box>
      </dxi-item>

      <dxi-item dataField="type">
        <dx-select-box
          [items]="ticketDatasources.ticketTypes"
          displayExpr="name"
          valueExpr="id"
          [(value)]="ticket.typeId"
        ></dx-select-box>
      </dxi-item>

      <dxi-item>
        <dx-button
          stylingMode="contained"
          text="Save"
          type="normal"
          width="100%"
          (onClick)="onSave()"
        >
        </dx-button>
      </dxi-item>
    </dx-form>
  </form>
</div>
