<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Service Type</th>
    <th>Type</th>
    <th></th>
  </tr>
  <tr *ngFor="let ticket of tickets$ | async">
    <td>{{ ticket.name }}</td>
    <td>{{ ticket.priority }}</td>
    <td>{{ ticket.status }}</td>
    <td>{{ ticket.serviceType }}</td>
    <td>{{ ticket.type }}</td>
    <td>
      <dx-button (onClick)="goToEditPage(ticket)">Edit</dx-button>
      <dx-button (onClick)="closeTicket(ticket)" style="margin-left: 10px"
        >Close</dx-button
      >
    </td>
  </tr>
</table>

<br />
<dx-button (onClick)="goToAddPage()"> Add</dx-button>
